[submodule "xbot_comms/ext/cpputest"]
	path = libxbot-service/ext/cpputest
	url = https://github.com/cpputest/cpputest.git
[submodule "xbot_comms/ext/ulog"]
	path = libxbot-service/ext/ulog
	url = https://github.com/ClemensElflein/ulog.git
[submodule "xbot_comms/ext/zcbor"]
	path = libxbot-service/ext/zcbor
	url = https://github.com/NordicSemiconductor/zcbor.git
