[submodule "xbot_comms/ext/cpputest"]
	path = ext/cpputest
	url = https://github.com/cpputest/cpputest.git
[submodule "xbot_comms/ext/ulog"]
	path = ext/ulog
	url = https://github.com/ClemensElflein/ulog.git
